/* Definición de variables CSS para colores, fuentes y otros valores comunes */
:root {
  --blue-color: #36c; /* Color azul para enlaces y elementos interactivos */
  --gray-border-color: #a2a9b1; /* Color gris para bordes */
  --gray-text-color: #54595d; /* Color gris para texto */
  --gray-background-color: #f8f9fa; /* Color gris para fondos */
  --font-family-title: 'Linux Libertine', serif; /* Fuente para títulos */
  --font-familiy-content: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Inter,Helvetica,Arial,sans-serif; /* Fuente para contenido */
}

/* Estilos globales para el cuerpo del documento */
body {
  color: var(--gray-text-color); /* Color de texto */
  font-family: var(--font-familiy-content); /* Fuente del contenido */
  font-weight: 300px; /* Peso de la fuente */
  font-size: 13px; /* Tamaño de la fuente */
  margin: 0 1.3em; /* Margen alrededor del cuerpo del documento */
}

/* Estilos para enlaces */
a {
  text-decoration: none; /* Sin subrayado en los enlaces */
  color: #36c; /* Color azul para enlaces */
  font-size: 0.9rem;
}

/* Estilos para enlaces al pasar el mouse sobre ellos (hover) */
a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse sobre los enlaces */
}

/* Estilos para líneas horizontales (hr) */
hr {
  color: #c8ccd1; /* Color de la línea horizontal */
  border: 0.5px solid #c8ccd1; /* Borde de la línea horizontal */
}

/* Estilos para la clase .background-img utilizada en elementos con imágenes de fondo */
.background-img {
  background-image: url('img/'); /* Imagen de fondo del elemento */
  background-repeat: no-repeat; /* La imagen de fondo no se repite */
  vertical-align: middle; /* Alineación vertical del contenido del elemento con imagen de fondo */
}

/* Inicio del encabezado */
/* Estilos para la clase .header utilizada en el encabezado del documento */
.header {
  color: black; /* Color de texto del encabezado */
  font-family: var(--font-family-title); /* Fuente del título */
  padding: 2.8em 0 1.5em 0; /* Relleno alrededor del encabezado */
  text-align: center; /* Alineación del texto al centro */
}

/* Estilos para el título principal (h1) dentro del encabezado */
.header h1 {
  font-size: 2.1em; /* Tamaño de la fuente del título principal */
  font-weight: normal; /* Peso normal de la fuente del título principal */
  margin: 0; /* Sin margen alrededor del título principal */
  text-transform: uppercase; /* El título principal en mayúsculas */
}

/* Estilos para el span dentro del título principal (h1) en el encabezado */
.header h1 span {
  font-size: 1.3em; /* Tamaño de la fuente del span dentro del título principal */
}

/* Estilos para el subtítulo (h2) dentro del encabezado */
.header h2 {
  font-size: 1.2em; /* Tamaño de la fuente del subtítulo */
  font-weight: 300; /* Peso ligero de la fuente del subtítulo */
  margin: 0; /* Sin margen alrededor del subtítulo */
}
/*Termina el encabezado*/
  
  /*Init Nav*/
  
/* Estilos para el contenedor de navegación */
.navegation-container {
  display: grid; /* Se usa un diseño de cuadrícula */
  grid-template-columns: 10px repeat(7, 70px) 10px; /* Definición de las columnas de la cuadrícula */
  grid-template-rows: repeat(5, 65px); /* Definición de las filas de la cuadrícula */
  justify-content: center; /* Centrado horizontal del contenido */
}

/* Estilos para los artículos de navegación */
.navegation-article {
  text-align: center; /* Alineación del texto al centro */
}

/* Estilos para el texto en negrita dentro de los artículos de navegación */
.navegation-article strong {
  font-size: 1.23em; /* Tamaño de la fuente del texto en negrita */
  color: #36c; /* Color del texto en negrita */
}

/* Estilos para los párrafos dentro de los artículos de navegación */
.navegation-article p {
  font-size: 0.93em; /* Tamaño de la fuente del párrafo */
  margin: 0.5em 0 0; /* Margen alrededor del párrafo */
}

/* Estilos específicos para cada artículo de navegación basados en su posición (nth-of-type) en el contenedor */
.navegation-article-spanish:nth-of-type(1) { grid-column: 3 / span 2; justify-self: start; }
.navegation-article-english:nth-of-type(2) { grid-column: 6 / span 2; justify-self: end; }
.navegation-article-japanese:nth-of-type(3) { grid-row: 2; grid-column: 2 / span 2; justify-self: start; }
.navegation-article-rusian:nth-of-type(4) { grid-row: 2; grid-column: 7 / span 2; justify-self: end; }
.navegation-article-deutsch:nth-of-type(5) { grid-row: 3; grid-column: 1 / span 3; justify-self: start; }
.navegation-article-france:nth-of-type(6) { grid-row: 3; grid-column: 7 / span 3; justify-self: end; }
.navegation-article-italian:nth-of-type(7) { grid-row: 4; grid-column: 2 / span 2; justify-self: start; }
.navegation-article-zhongwen:nth-of-type(8) { grid-row: 4; grid-column: 7 / span 2; justify-self: end; }
.navegation-article-portuguese:nth-of-type(9) { grid-row: 5; grid-column: 3 /span 2; justify-self: start; }
.navegation-article-arabian:nth-of-type(10) { grid-row: 5; grid-column: 6 / span 2; justify-self: end;}

/* Estilos para el logo de navegación */
.navegation-logo {
  grid-row: 2 / 5;
  grid-column: 4 / 7;
  margin: 0;
}

/* Estilos para la imagen dentro del logo de navegación */
.navegation-logo img {
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  object-fit: contain;
}

/* Termina la barra de navegación */
  
/* Inicia la barra de búsqueda */
/* Estilos para el contenedor de búsqueda */
.search {
  max-width: 500px; /* Ancho máximo del contenedor de búsqueda */
  width: 100%; /* Ancho completo */
  margin: 0.5em auto 0; /* Margen alrededor del contenedor de búsqueda */
}

/* Estilos para el formulario de búsqueda dentro del contenedor de búsqueda */
.search .search-form {
  display: flex; /* Se usa un diseño flexible */
  justify-content: center; /* Centrado horizontal del contenido */
  width: 100%; /* Ancho completo */
}

/* Estilos para el contenedor de entrada de búsqueda dentro del formulario de búsqueda */
.search-form .search-input-container {
  border-top: 1px solid var(--gray-border-color); /* Borde superior gris */
  border-left: 1px solid var(--gray-border-color); /* Borde izquierdo gris */
  border-bottom: 1px solid var(--gray-border-color); /* Borde inferior gris */
  border-radius: 2px 0 0 2px; /* Radio del borde para las esquinas superiores e inferiores izquierdas */
  flex: 1 1; /* Flexibilidad para crecer y encogerse según sea necesario */
  display: flex; /* Se usa un diseño flexible */
  align-items: center; /* Alineación vertical del contenido al centro */
}

/* Estilos para la entrada de búsqueda dentro del contenedor de entrada de búsqueda */
.search-input-container input {
  padding: 0.8em; /* Relleno alrededor de la entrada de búsqueda */
  border: none; /* Sin borde alrededor de la entrada de búsqueda */
  outline: none; /* Sin contorno alrededor de la entrada de búsqueda cuando está enfocada */
  flex: 1 1; /* Flexibilidad para crecer y encogerse según sea necesario */
}

/* Estilos para los párrafos dentro del contenedor de entrada de búsqueda */
.search-input-container p {
  margin-right: 0.8em; /* Margen a la derecha del párrafo */
}

/* Estilos para el icono selector dentro del contenedor de entrada de búsqueda */
.search-input-container .picker-icon {
  display: inline-block; /* Se muestra en línea con otros elementos a nivel de bloque e inline */
  background-position: 0 -520px; /* Posición del fondo para mostrar el icono correcto en una imagen sprite */
  height: 8px; /* Altura del icono selector */
  width: 12px; /* Ancho del icono selector */
}

/* Estilos para el botón dentro del formulario de búsqueda */
.search-form button {
  border: none; /* Sin borde alrededor del botón */
  background-color: #36c; /* Color azul de fondo del botón */
  border-radius: 0 2px 2px 0; /* Radio del borde para las esquinas superiores e inferiores derechas */
  color: white; /* Color blanco del texto en el botón */
  padding: 0.8em 1.3em; /* Relleno alrededor del botón */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse sobre el botón */
}

/* Estilos para el icono del botón dentro del botón en el formulario de búsqueda */
.search-form button .search-button-icon {
  display: block; /* Se muestra como un bloque, ocupando todo el ancho disponible y forzando un salto de línea antes y después del elemento*/
  background-position: 0 -669px; /* Posición del fondo para mostrar el icono correcto en una imagen sprite*/
  width: 22px; /* Ancho del icono del botón*/
  height: 22px;/* Altura del icono del botón*/
}
/* Termina la barra de búsqueda */
  
/* Inicia selección de lenguaje */
/* Estilos para el contenedor de idioma */
.language {
  width: 100%; /* Ancho completo */
  display: flex; /* Se usa un diseño flexible */
  align-items: center; /* Alineación vertical del contenido al centro */
  margin: 2.6em 0; /* Margen alrededor del contenedor de idioma */
}

/* Estilos para el selector de idioma dentro del contenedor de idioma */
/* Estilos para el selector de idioma dentro del contenedor de idioma */
.language .language-selector {
  background-color: #f8f9fa; /* Color de fondo gris claro */
  border: 1px solid #a2a9b1; /* Borde gris alrededor del selector de idioma */
  border-radius: 2px; /* Radio del borde para las esquinas del selector de idioma */
  display: flex; /* Se usa un diseño flexible */
  padding: 0.6rem 1.2rem; /* Relleno alrededor del selector de idioma */
  margin: 0 auto; /* Margen automático para centrar horizontalmente el selector de idioma */
  font-size: 0.9rem; /* Tamaño ligeramente menor que el normal para la fuente del selector de idioma */
  font-weight: bold; /* Peso en negrita de la fuente del selector de idioma */
  color: #36c; /* Color azul del texto en el selector de idioma */
  justify-content:center; /* Centrado horizontal del contenido dentro del selector de idioma */
}

/* Estilos para el elemento con la clase .izq dentro del selector de idioma */
.language .language-selector .izq{
  margin-right: 10px; /* Margen a la derecha del elemento .izq */
}

/* Estilos para el elemento con la clase .der dentro del selector de idioma */
.language .language-selector .der{
  margin-left: 10px; /* Margen a la izquierda del elemento .der */
}

/* Estilos para las líneas horizontales (hr) dentro del contenedor de idioma */
.language hr {
  flex: 1 1; /* Flexibilidad para crecer y encogerse según sea necesario */
}

/* Estilos para el icono de idioma dentro del selector de idioma */
.language-selector .language-icon {
  display: inline-block; /* Se muestra en línea con otros elementos a nivel de bloque e inline */
  background-position: 0 -691px; /* Posición del fondo para mostrar el icono correcto en una imagen sprite */
  width: 25px; /* Ancho del icono de idioma */
  height: 18px; /* Altura del icono de idioma */
  margin-right: 0.5em; /* Margen a la derecha del icono de idioma */
}

/* Estilos para el icono selector dentro del selector de idioma */
.language-selector .picker-icon {
  display: inline-block; /* Se muestra en línea con otros elementos a nivel de bloque e inline */
  background-position: 0 -526px; /* Posición del fondo para mostrar el icono correcto en una imagen sprite*/
  height: 8px; /* Altura del icono selector*/
  width: 12px;/* Ancho del icono selector*/
  margin-left: 0.5em;/* Margen a la izquierda del icono selector*/
}
/*Termina selección de lenguaje*/
  
/* Inicia los enlaces de listas */
/* Estilos para la lista de enlaces */
.links-list {
  display: grid; /* Se usa un diseño de cuadrícula */
  grid-template-columns: repeat(5, 230px); /* Definición de las columnas de la cuadrícula */
  grid-gap: 0.5rem 0; /* Espacio entre las filas y columnas de la cuadrícula */
  margin: 2.4em auto 0; /* Margen alrededor de la lista de enlaces */
  justify-content: space-evenly; /* Espacio uniforme entre las columnas de la cuadrícula */
}

/* Estilos para los elementos de la lista de enlaces */
.links-list-item {
  display: flex; /* Se usa un diseño flexible */
}

.links-list-item:nth-of-type(1) a{
  color:#36c;
  font-size: 0.9rem;
}

/* Estilos específicos para el segundo elemento de la lista de enlaces */
.links-list-item:nth-of-type(2) {
  grid-column: 1; /* Posición en la primera columna de la cuadrícula */
  grid-row: 2 / span 3; /* Posición en la segunda fila de la cuadrícula y se extiende a través de tres filas */
  background-color: #f8f9fa; /* Color de fondo gris claro */
  padding: 1em; /* Relleno alrededor del segundo elemento de la lista de enlaces */
}

/* Estilos para los enlaces dentro del segundo elemento de la lista de enlaces */
.links-list-item:nth-of-type(2) a {
  color: #54595d; /* Color gris del texto del enlace */
  font-weight: bold; /* Peso en negrita del texto del enlace */
}

/* Estilos para los títulos (h4) dentro de los elementos de la lista de enlaces */
.links-list-item h4 {
  font-size: 0.9rem; /* Tamaño normal de la fuente del título */
}

/* Estilos para las imágenes dentro de los elementos de la lista de enlaces */
.links-list-item img {
  width: 47px; /* Ancho fijo de las imágenes */
  height: 26px; /* Altura fija de las imágenes */
  vertical-align: middle; /* Alineación vertical al tope del contenedor que contiene las imágenes */
  flex: 0 0; /* Sin flexibilidad para crecer o encogerse según sea necesario */
}

/* Estilos para el detalle del elemento dentro de los elementos de la lista de enlaces */
.links-list-item .item-detail {
  margin-left: 1em; /* Margen a la izquierda del detalle del elemento */
  flex: auto; /* Flexibilidad para crecer y encogerse según sea necesario */
}

/* Estilos para los títulos (h3) dentro del detalle del elemento */
.item-detail h3 {
  margin: 0; /* Sin margen alrededor del título (h3) */
}

/* Estilos para los párrafos dentro del detalle del elemento */
.item-detail p {
  margin: 0.3em 0 0; /* Margen alrededor del párrafo */
  font-size: 0.9rem; /* Tamaño ligeramente menor que el normal para la fuente del párrafo*/
}
/* Terminan los enlaces de listas */
  
/* Inicia el pie de página */
/* Estilos para el pie de página */
.footer {
  margin-top: 1rem; /* Margen en la parte superior del pie de página */
  text-align: center; /* Alineación del texto al centro */
}

/* Estilos para las listas desordenadas dentro del pie de página */
.footer ul {
  margin: 0; /* Sin margen alrededor de la lista desordenada */
  padding: 0; /* Sin relleno alrededor de la lista desordenada */
  display: inline-block; /* Se muestra en línea con otros elementos a nivel de bloque e inline */
}

/* Estilos para los elementos de la lista dentro de las listas desordenadas en el pie de página */
.footer ul li {
  display: inline-block; /* Se muestra en línea con otros elementos a nivel de bloque e inline */
  margin-left: 0.5em; /* Margen a la izquierda del elemento de la lista */
}

/* Estilos para el contenido antes de los elementos de la lista en las listas desordenadas en el pie de página */
.footer ul li::before {
  content: ". "; /* Contenido antes del elemento de la lista */
  font-size: 3em; /* Tamaño grande de la fuente del contenido antes del elemento de la lista */
  color: black; /* Color negro del contenido antes del elemento de la lista */
}
/* Termina el pie de página */
  
/* Estilos para pantallas con un ancho máximo de 1024px */
@media screen and (max-width: 1024px) {
  /* Estilos para la lista de enlaces */
  .links-list {
      grid-template-columns: repeat(5, 170px); /* Definición de las columnas de la cuadrícula */
      justify-items: center; /* Centrado horizontal del contenido */
  }
}

/* Estilos para pantallas con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
  /* Estilos para el contenedor de navegación */
  .navegation-container {
      display: grid; /* Se usa un diseño de cuadrícula */
      grid-template-columns: 10px repeat(7, 60px) 10px; /* Definición de las columnas de la cuadrícula */
  }

  /* Estilos para el contenedor de búsqueda */
  .search {
      width: 80%; /* Ancho del 80% del contenedor padre */
  }

  /* Estilos para la lista de enlaces */
  .links-list {
      grid-template-columns: repeat(4, 150px); /* Definición de las columnas de la cuadrícula */
  }

  /* Estilos específicos para el primer elemento de la lista de enlaces */
  .links-list-item:nth-of-type(1) {
      position: relative;
      grid-column: 1 / span 3; /* Posición en la primera columna de la cuadrícula y se extiende a través de tres columnas */
      grid-row: 1; /* Posición en la primera fila de la cuadrícula */
      flex-direction: row; /* Los elementos flexibles se apilan verticalmente */
      align-items: top; /* Alineación horizontal del contenido al centro */
  }

  /* Estilos específicos para el segundo elemento de la lista de enlaces */
  .links-list-item:nth-of-type(2) {
      position: relative;
      grid-column: 1 / span 3; /* Posición en la primera columna de la cuadrícula y se extiende a través de tres columnas */
      grid-row: 6; /* Posición en la sexta fila de la cuadrícula */
      flex-direction: column; /* Los elementos flexibles se apilan verticalmente */
      align-items: center; /* Alineación horizontal del contenido al centro */
  }
}
